##1

In [1]:
word = input("Enter a word: ").lower()
vowels = "aeiou"
count = 0

for ch in word:
    if ch in vowels:
        count += 1

print("Number of vowels:", count)

Enter a word: queen
Number of vowels: 3

##2

In [2]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

##3

In [3]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i, "is even")
    else:
        print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even

##4

In [4]:
text = input("Enter a string: ").lower()
if text == text[::-1]:
    print("It's a palindrome!")
else:
    print("Not a palindrome.")

Enter a string: txt
It's a palindrome!

##5

In [5]:
def sum_of_integers(a, b):
    return a + b

# Get user input
x = int(input("Enter first integer: "))
y = int(input("Enter second integer: "))

print("Sum:", sum_of_integers(x, y))

Enter first integer: 10
Enter second integer: 33
Sum: 43